@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0FA958;
  --secondary: #0B3C5D;
  --accent: #F4B400;
  --background: #F7F9FB;
  --text-dark: #1E1E1E;
}

body {
  background-color: var(--background);
  color: var(--text-dark);
}
